[DEFAULT]
core_plugin = ml2
service_plugins = router
allow_overlapping_ips = True
auth_strategy = keystone
dhcp_agent_notification = True
notify_nova_on_port_status_changes = True
notify_nova_on_port_data_changes = True
transport_url = rabbit://{{ rabbitmq_user }}:{{ rabbitmq_pass }}@{{ hostvars[groups['control'][0]].ansible_host }}


[keystone_authtoken]
www_authenticate_uri = http://{{ hostvars[groups['control'][0]].ansible_host }}:5000
auth_url = http://{{ hostvars[groups['control'][0]].ansible_host }}:5000
memcached_servers = {{ hostvars[groups['control'][0]].ansible_host }}:11211
auth_type = password
project_domain_name = Default
user_domain_name = Default
project_name = service
username = neutron
password = {{ neutron_os_pass }}


[database]
connection = mysql+pymysql://{{ neutron_db_user }}:{{ neutron_db_pass }}@{{ hostvars[groups['control'][0]].ansible_host }}/neutron


[nova]
auth_url = http://{{ hostvars[groups['control'][0]].ansible_host }}:5000
auth_type = password
project_domain_name = Default
user_domain_name = Default
region_name = RegionOne
project_name = service
username = nova
password = {{ nova_os_pass }}


[oslo_concurrency]
lock_path = /var/lib/neutron/tmp
