[DEFAULT]
enabled_apis = osapi_compute,metadata
transport_url = rabbit://{{ rabbitmq_user }}:{{ rabbitmq_pass }}@{{ hostvars[groups['control'][0]].ansible_host }}
my_ip = {{ hostvars[groups['control'][0]].ansible_host }}
use_neutron = true
firewall_driver = nova.virt.firewall.NoopFirewallDriver
log_dir = /var/log/nova


[api]
auth_strategy = keystone


[api_database]
connection = mysql+pymysql://{{ nova_db_user }}:{{ nova_db_pass }}@{{ hostvars[groups['control'][0]].ansible_host }}/{{ nova_api_db }}


[database]
connection = mysql+pymysql://{{ nova_db_user }}:{{ nova_db_pass }}@{{ hostvars[groups['control'][0]].ansible_host }}/{{ nova_db }}


[glance]
api_servers = http://{{ hostvars[groups['control'][0]].ansible_host }}:9292


[keystone_authtoken]
www_authenticate_uri = http://{{ hostvars[groups['control'][0]].ansible_host }}:5000
auth_url = http://{{ hostvars[groups['control'][0]].ansible_host }}:5000
memcached_servers = {{ hostvars[groups['control'][0]].ansible_host }}:11211
auth_type = password
project_domain_name = Default
user_domain_name = Default
project_name = service
username = nova
password = {{ nova_os_pass }}


[oslo_concurrency]
lock_path = /var/lib/nova/tmp


[placement]
auth_url = http://{{ hostvars[groups['control'][0]].ansible_host }}:5000
password = {{ placement_os_pass }}
os_region_name = RegionOne
auth_type = password
project_domain_name = Default
user_domain_name = Default
project_name = service
username = placement

[wsgi]
api_paste_config = /etc/nova/api-paste.ini


[placement_database]
connection = mysql+pymysql://{{ nova_db_user }}:{{ nova_db_pass }}@{{ hostvars[groups['control'][0]].ansible_host }}/{{ nova_placement_db }}

#[vnc]
#enabled = true
#server_listen = {{ hostvars[groups['control'][0]].ansible_host }}
#server_proxyclient_address = {{ hostvars[groups['control'][0]].ansible_host }}
