[DEFAULT]
core_plugin = ml2
service_plugins = router
allow_overlapping_ips = True
auth_strategy = keystone
transport_url = rabbit://{{ rabbitmq_user }}:{{ rabbitmq_pass }}@{{ hostvars[groups['control'][0]].ansible_host }}


[keystone_authtoken]
www_authenticate_uri = http://{{ hostvars[groups['control'][0]].ansible_host }}:5000
auth_url = http://{{ hostvars[groups['control'][0]].ansible_host }}:5000
memcached_servers = {{ hostvars[groups['control'][0]].ansible_host }}:11211
auth_type = password
project_domain_name = Default
user_domain_name = Default
project_name = service
username = neutron
password = {{ neutron_os_pass }}


[oslo_concurrency]
lock_path = /var/lib/neutron/lock
